bs4
click
colr
emoji
pyexiftool
goodreads_api_client
google
google-search
html2text
lxml
matplotlib
numpy
omdb
pandas
Pillow
pydub
PyInquirer
pymysql
pyodbc
requests
send2trash
sqlalchemy
titlecase
tqdm
wave
